.terminals-form {
    display: flex;
    flex-direction: column;
    & * {
    margin: 0 auto;
    margin-bottom: 5px;
    }
    & :last-child:hover {
        cursor: pointer;
    }
}

.terminals-list {
    display: flex;
    flex-direction: column;
    border-collapse: collapse;
    & li {
        margin: 0 auto;
        margin-bottom: 5px;
    }
    & button {
        border: none;
        background-color: inherit;
        text-decoration: underline;
        color: blue;
        outline: none;
    }
    & button:hover {
        cursor: pointer;
    }
}